.header__place {
    color: #FFF;
    width: 124px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media(max-width: 767px) {
    .header__place {
        text-align: center;
    }

}