.header__slow-vision {
    background: url(../../../assets/img/slowVision/icon.png) no-repeat;
    width: 38px;
    height: 15px;
    display: flex;
}

@media(max-width: 1199px) {
    .header__slow-vision {
        margin: 0 99px 0 0;
    }

    .header__menu-mobile .header__slow-vision {
        align-items: center;
        background-size: contain;
        width: 48px;
        height: 17px;
        margin: 0 auto 27px auto;
    }
}

@media(max-width: 991px) {
    .header__slow-vision {
        margin: 0 auto 0 0;
    }
}

@media(max-width: 767px) {
    .header__slow-vision {
        display: none;
    }
}

