.news__post-title {
    color: #333333;
    font-family: 'Baufra', Arial, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 30px;
}

@media(max-width: 767px) {
    .news__date {
        margin-bottom: 14px;
    }
}