.footer__menu {
    width: 414px;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

@media(max-width: 1120px) {
    .footer__menu {
        display: none;
    }
}