.footer__menu_mobile {
    display: none;
}

@media(max-width: 1120px) {
    .footer__menu_mobile {
        justify-content: space-between;
        display: flex;
        width: 930px;
        height: 64px;
        margin-bottom: 59px;
    }
}