.footer__menu {
    width: 414px;
    height: 163px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto 0 0;
}

@media(min-width: 2525px) {
    .footer__menu {
        width: 1400px;
    }
}

@media(max-width: 1199px) {
    .footer__menu {
        display: none;
        width: auto;
    }
}