.news__background_gray {
    background: #F0F0F0;
    width: 613px;
    height: 333px;
    position: absolute;
    z-index: -1;
    margin: -150px 0 0 -127px;
}

@media(max-width: 1500px) {
    .news__background_gray {

    }
}