.news__background_green {
    background: #A2CC5C;
    width: 465px;
    height: 209px;
    position: absolute;
    z-index: -1;
    margin-top: -150px;
    margin-left: 1199px;
}

@media(max-width: 1919px) {
    .news__background_green {
        display: none;
    }
}