.partners__title {
    position: absolute;
    background: #A2CC5C;
    width: 215px;
    height: 43px;
    padding-bottom: 20px;
    margin: 25px 0 0 5px;
    z-index: -1;
}

@media(max-width: 767px) {
    .partners__title {
        margin: 25px 55px 0 5px;
    }
}

@media(max-width: 575px) {
    .partners__title {
        background: #C2DA6B;
        padding-bottom: 0;
        height: 34px;
        margin: 10px 0 0 30px;
    }
}