.cover__line {
    display: flex;
    align-items: center;
    margin: 10px 33px 0 36px;
}

@media(max-width: 1500px) {
    .cover__line {
        margin: 0 27px 0 27px;
    }
}

@media(max-width: 991px) {
    .cover__line {
        margin: 10px 27px 0 27px;
    }

    .cover__line img {
        width: 29px;
    }
}

@media (max-width: 575px) {
    .cover__line {
        width: 19px;
        margin: 10px 27px 0 27px;
    }

    .cover__line img {

    }
}