.cover__background-image {
    background: #ffffff;
    width: 498px;
    height: 457px;
    position: absolute;
    right: 0;
}

@media(max-width: 1710px) {
    .cover__background-image {
        display: none;
    }
}