.news__image {
    width: 430px;
    height: 430px;
    margin-right: 48px;
}

@media(max-width: 991px) {
    .news__image img {
        width: 330px;
        height: 330px;
    }
}

@media(max-width: 767px) {
    .news__image img {
        width: 508px;
        height: auto;
    }

    .news__image {
        width: 508px;
        height: auto;
        margin-bottom: 12px;
    }
}

@media(max-width: 575px) {
    .news__image img {
        width: 344px;
        height: auto;
    }

    .news__image {
        width: 344px;
        height: auto;
        margin: 0 auto 12px auto;
    }
}