.header__logo {
    background: url(../../../assets/img/headerLogo/logo.png) no-repeat;
    width: 202px;
    height: 68px;
    margin: 0 84px 0 0;
}


@media(max-width: 1500px) {
    .header__logo {
        width: 202px;
    }
}
