.partners__controls {
    display: flex;
    justify-content: right;
    height: 25px;
    margin-bottom: 110px;
}

@media(max-width: 767px) {
    .partners__controls {
        display: none;
    }

}