@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Regular.ttf");
}

@font-face {
    font-family: "Baufra";
    src: url("fonts/Baufra/Baufra-Bold.ttf");
}

@font-face {
    font-family: "Gotham Pro Black";
    src: url("fonts/Gotham Pro/gothampro_black.ttf");
}

@font-face {
    font-family: "Gotham Pro";
    src: url("fonts/Gotham Pro/gothampro.ttf");
}

@font-face {
    font-family: "Gotham Pro Light";
    src: url("fonts/Gotham Pro/gothampro_light.ttf");
}
























