.news__title {
    background-color: #C2DA6B;
    position: absolute;
    box-sizing: border-box;
    width: 215px;
    height: 61px;
    left: 0;
    margin: 15px 0 0 5px;
    z-index: -1;
    background-size: 215px 61px;
}


@media(max-width: 767px) {
    .news__title  {
        margin: 15px 0 0 25px;
    }
}

@media(max-width: 575px) {
    .news__title  {
        left: auto;
        height: 34px;
        margin: 10px 110px 0 0;
    }
}

