.content__background-image-7 {
    background: url(../../../assets/img/backgroundImage7/image.png);
    width: 460px;
    height: 923px;
    position: absolute;
    top: 2777px;
    left: 0;
}

@media(max-width: 1500px) {
    .content__background-image-7 {
        z-index: -1;
        left: -155px;
        top: 2650px
    }
}

@media(max-width: 1120px) {
    .content__background-image-7 {
        display: none;
    }
}