.header__language-item {
    font-family: 'Baufra', Arial, serif;
    font-size: 16px;
    line-height: 19px;
}

.header__menu-mobile .header__language-item {
    font-size: 24px;
    margin-right: 21px;
}

.header__menu-mobile .header__language-item:last-child {
    margin-right: 0;
}


