.header__menu-item {
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', Arial, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 22px;
    align-items: center;
    justify-content: center;
}

.header__menu-item:hover > .header__dropdown {
    visibility: visible;
    opacity: 1;
    display: block;
}

@media(max-width: 1199px) {
    .header__menu-mobile .header__menu-item {
        font-size: 25px;
        font-style: normal;
        font-weight: 900;
        line-height: 114.84%;
        font-family: "Gotham Pro Black", Arial, sans-serif;
        margin-bottom: 40px;
        width: 100%;
    }

    .header__menu-mobile .header__menu-item::after {
        display: none;
        content: url("../../../assets/img/headerMenuItem/arrow.png");
        width: 18px;
        height: 18px;
        z-index: 2;
        margin-left: 15px;
        float: right;
    }
}
