.footer__menu-mobile {
    display: none;
}

@media(max-width: 1120px) {
    .footer__menu-mobile {
        display: block;
    }
}

@media(max-width: 767px) {
    .footer__menu-mobile {
        display: block;
        order: 1;
    }
}