.title {
    display: flex;
    color: #333333;
    width: 100%;
    height: auto;
    font-size: 56px;
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif;
    grid-gap: 20px;
    margin-bottom: 70px;
}

.title span {
    word-spacing: 15px;
    color: #333333;
    font-size: 58px;
    font-weight: 400;
}

@media(max-width: 1199px) {
    .title {
        margin-bottom: 102px;
    }
}

@media(max-width: 767px) {
    .title {
        font-size: 50px;
        justify-content: center;
    }

    .title h2 {

    }

    .title span {
        font-size: 50px;
    }
}

@media(max-width: 575px) {
    .title {
        font-size: 34px;
        margin-bottom: 37px;
    }

    .title span {
        font-size: 34px;
    }
}
