.cover__background-apply {
    background: #ffffff;
    width: 737px;
    height: 175px;
    position: relative;
    float: left;
}

@media(max-width: 1500px) {
    .cover__background-apply {
        width: 520px;
    }
}