.cover__background-apply {
    background: #ffffff;
    width: 737px;
    height: 175px;
    position: absolute;
    margin-left: -251px;
}

@media(max-width: 1500px) {
    .cover__background-apply {
        height: 133px;
    }
}