.cover__date {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 54px;
    flex-wrap: wrap;
}

@media(max-width: 1500px) {
    .cover__date {
        display: none;
        width: 100%;
        height: 0;
    }
}