@media (max-width: 1199px) {
    .header__menu-mobile.active {
        pointer-events: auto;
        opacity: 1;
        display: block;
    }

    .header__menu-mobile.active::-webkit-scrollbar {
        display: none;
    }

}