.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: auto;
    align-items: center;
    background: #ffffff;
    z-index: 2;
    padding: 38px 260px;
}

@media(max-width: 1919px) {
    .header {
        padding: 38px 45px;
    }
}