.header {
    display: flex;
    position: relative;
    width: 100%;
    height: 144px;
    align-items: center;
    background: #ffffff;
}

@media(max-width: 1500px) {
    .header {
        justify-content: space-between;
    }
}