.content__background-image-5 {
    background: url(../../../assets/img/backgroundImage5/image.png);
    width: 180px;
    height: 231px;
    position: absolute;
    top: 1875px;
    left: 0;
}

@media(max-width: 1500px) {
    .content__background-image-5 {
        display: none;
    }
}