.footer__menu-item {
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 178px;
}

@media(min-width: 2525px) {
    .footer__menu-item {
        width: auto;
    }
}

@media (max-width: 1120px) {
    .footer__menu-item {
        font-size: 14px;
        padding: 0 30px 30px 30px;
        width: auto;

    }
}

@media (max-width: 991px) {
    .footer__menu-item {
        padding: 0 30px 30px 7px;
    }
}

@media (max-width: 575px) {
    .footer__menu-item {
        padding: 0 25px 30px 0;
    }
}