.cover__social-media {
    display: flex;
    justify-content: space-between;
    width: 148px;
    align-items: center;
}

@media(max-width: 991px) {
    .cover__social-media {
        display: none;
    }
}