.cover__background-image-2 {
    background: url(../../../assets/img/backgrondImage2/image.png);
    width: 692px;
    height: 638px;
    right: 0;
    z-index: 1;
    margin-right: -125px;
    position: absolute;
}

@media(max-width: 1550px) {
    .cover__background-image-2 {
        left: auto;
        right: 0;
        width: 460px;
    }
}

@media(max-width: 1120px) {
    .cover__background-image-2 {
        width: 295px;
    }
}

@media(max-width: 991px) {
    .cover__background-image-2 {
        top: 333px;
        width: 384px;
    }
}
