.cover__background-image-2 {
    background: url(../../../assets/img/backgrondImage2/image.png);
    width: 692px;
    height: 638px;
    right: -125px;
    z-index: 1;
    position: absolute;

}

@media(max-width: 1919px) {
    .cover__background-image-2 {
        right: -450px;
    }
}

