.header__menu-btn {
    height: 30px;
    display: none;
}

@media(max-width: 1199px) {
    .header__menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media(max-width: 575px) {
    .header__menu-btn {
        padding: 15px 12px;
        border: 2px solid #333333;
    }
}