.header__menu-btn {
    width: 36px;
    height: 30px;
    display: none;
    cursor: pointer;
    z-index: 3;
    transition: .35s;
    overflow: hidden;
    position: relative;

}

.header__menu-btn.active {
    border: 2px solid #BBBBBB;
    padding: 16px;
    margin-right: -16px;
}

@media(max-width: 1199px) {
    .header__menu-btn {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 575px) {
    .header__menu-btn {
        padding: 15px 12px;
        border: 2px solid #333333;
    }
}