.header__menu-btn-line-top {
    transition: .15s;
    width: 36px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #A2CC5C;
}

.header__menu-btn.active .header__menu-btn-line-top {
    width: 0;
}