.header__menu-btn-line-medium {
    position: absolute;
    transition: .35s;
    top: 12px;
    width: 36px;
    height: 5px;
    flex-shrink: 0;
    border-radius: 3px;
    background: #A2CC5C;
}

.header__menu-btn.active .header__menu-btn-line-medium {
    top: calc(50% - 2px);
    transform: rotate(45deg);
    background-color: #BBBBBB;
}