.cover__background-image-1 {
    background: url(../../../assets/img/backgrondImage1/checkerboard.png) no-repeat;
    width: 768px;
    height: 192px;
    position: absolute;
    right: 0;
    margin: -40px -60px 0 0;
    z-index: 0;
}

@media(max-width: 1500px) {
    .cover__background-image-1 {
        right: -73px;
    }
}

@media(max-width: 1199px) {
    .cover__background-image-1 {
        background: url(../../../assets/img/backgrondImage1/checkerboard-mobile.png) no-repeat;
        right: -310px;
    }
}

@media(max-width: 991px) {
    .cover__background-image-1 {
        background: url(../../../assets/img/backgrondImage1/checkerboard.png) no-repeat;
        right: -480px;
    }
}

@media(max-width: 767px) {
    .cover__background-image-1 {
        background: url(../../../assets/img/backgrondImage1/checkerboard.png) no-repeat;
        right: -630px;
    }
}