.content__background-image-6 {
    background: url(../../../assets/img/backgroundImage6/image.png);
    width: 260px;
    height: 591px;
    position: absolute;
    top: 2576px;
    right: 0;
}

@media(max-width: 1500px) {
    .content__background-image-6 {
        z-index: -1;
        right: 0px;
        width: 215px;
        top: 2449px;
    }
}