.cover__date-ending {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 44px;
}

.cover__date-ending strong {
    font-size: 24px;
    letter-spacing: 5px;
}

@media (max-width: 1500px) {
    .cover__date-ending {
        font-size: 38px;
    }

    .cover__date-ending strong {
        font-size: 20px;
    }
}