.footer__menu-mobile-list {
    display: none;
}
@media(max-width: 1199px) {
    .footer__menu-mobile-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 29px;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .footer__menu-mobile-list {
        margin-bottom: 70px;
    }
}