.footer__menu-mobile-list {
    display: none;
}
@media(max-width: 1120px) {
    .footer__menu-mobile-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 29px;
    }
}