.cover__title {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 87px;
    line-height: 110px;
    width: 800px;
    align-items: center;
    text-transform: uppercase;
    padding: 105px 0 0 0;
    margin-bottom: 118px;
}

.cover__title strong {
    font-size: 78px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

@media(max-width: 1500px) {
    .cover__title {
        font-size: 67px;
        line-height: 90px;
        width: 620px;
        padding: 47px 0 0 0;
        margin-bottom: 25px;
    }

    .cover__title strong {
        font-size: 57px;
        line-height: 80px;
    }
}



