.partners__owl-carousel {
    margin-top: -60px;
}

@media(max-width: 767px) {
    .partners__owl-carousel {
        margin-top: 0;
    }
}

@media(max-width: 575px) {
    .partners__owl-carousel {
        margin-top: 58px;
    }
}