.content__background-image-3 {
    background-image: url(../../../assets/img/backgroundImage3/image.png);
    width: 480px;
    height: 573px;
    position: absolute;
    top: 928px;
    margin-left: 1033px;
    z-index: -1;
}

@media(max-width: 1500px) {
    .content__background-image-3 {
        margin-left: 0;
        right: -45px;
    }
}

@media(max-width: 1500px) {
    .content__background-image-3 {
    }
}

@media(max-width: 1120px) {
    .content__background-image-3 {
        right: 0;
        width: 271px;
    }
}

@media(max-width: 991px) {
    .content__background-image-3 {
        display: none;
    }
}

