.news__post {
    width: 948px;
    height: 440px;
    display: flex;
    margin-bottom: 112px;
}

@media (max-width: 1500px) {
    .news__post {
        margin-bottom: 90px;
    }
}

@media (max-width: 1120px) {
    .news__post {
        margin-bottom: 70px;
    }
}