.footer__email {
    color: #C2DA6B;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 42px;
}

@media(max-width: 767px) {
    .footer__email {
        margin-bottom: 13px;
    }
}