.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
}

@media(max-width: 1500px) {
    .container {
        max-width: 1110px;
    }
}

@media(max-width: 1120px) {
    .container {
        max-width: 930px;
    }
}

@media(max-width: 991px) {
    .container {
        max-width: 690px;
    }
}

