.footer__btn-top {
    height: 16px;
    position: absolute;
    right: 46px;
    top: 194px;
}

.footer__btn-top:hover svg path {
    stroke: #A2CC5C;
}


@media (max-width: 1919px) {
    .footer__btn-top {
        top: auto;
        bottom: -25px;
    }
}

@media (max-width: 1199px) {
    .footer__btn-top {
        display: none;
    }
}