.header__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 58px;
    flex-wrap: wrap;
    margin: 0 82px 0 0;
}

@media(max-width: 1500px) {
    .header__menu {
        width: 506px;
        margin-right: 22px;
    }
}
