.header__tel {
    color: #A2CC5C;
    text-align: center;
    font-family: Roboto, sans-serif, sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 23px;
}